#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.chart-container {
  color: black;
}

.inputs-container {
  margin-bottom: 1rem;
}

.exercise-select {
  margin-bottom: 1rem;
}

.options-container {
  display: flex;
}
.options-container > * {
  flex-grow: 1;
}
