#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.chart-container {
  color: black;
}

input[type="file"] {
  margin-bottom: 1rem;
}

.options-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
